/* *{
    box-sizing: border-box;
} */
body{
    justify-content: center;
    background-color: #F1DDD1;
}
.flex-container{
    min-width: 778px;
    display: flex;
    text-align:justify;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    
}

.flex-item-left
{
    padding: 10px;
    max-width: 389px;
    height: 563px;
    background-color: aqua;
    flex: 50%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}  

.flex-item-right{
    padding: 10px;
    max-width: 389px;
    height: 563px;
    background-color: rgb(255, 255, 255);
    flex: 50%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;

}  

.img{
    background-image: url(images/image-product-desktop.jpg);
    background-size: cover;
    height:563px;
}

.content{
    margin-top: 40px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.prices{
    margin-bottom: 50px;
}
button{
    display: block;
    width: 279px;
    height: 66px;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    border:none;
    background-color:#094D13;
    cursor: pointer;
    margin: auto;
}

h1{
    font-family:'inter', sans-serif;
    font-weight: 700;
    font-size: 38px;
    width: 252px;
    height: 144px;
}

h2{
    font-family:'inter', sans-serif;
    font-weight: 200;
    font-size: 18px;
    width: 90px;
    height: 20px;
}

.desc{
    font-family:'inter', sans-serif;
    font-weight: 300;
    font-size: 18px;
    width: 278px;
    height: 89px;

}

P1 + p2{
    margin-left: 27px; 
 }

 p1{
    color: #168128; 
    font-size: 33px;
    font-weight: 700;
 }

 p2{
    padding-top: 10px;
    text-decoration: line-through;
    color: #131614;
    font-size: 16px;
    font-weight: 400;
}

.prices{
    display: flex;
}

.btn:hover{
    background-color:#05370D;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }

    .img{
        background-image: url(images/image-product-mobile.jpg);
        background-size: cover;
        height:269px;
    }
    .flex-item-left
{
    padding: 10px;
    max-width: 389px;
    height: 269px;
    background-color: aqua;
    flex: 50%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0px;
}  

    .flex-item-right{
      width: 342px;
      height: 397px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0Px;
      border-bottom-left-radius: 12px;
    } 
    .desc{
        font-size: 16px;
        width: 300px;
        height: 38px;
    
    } 
    h1{
        width: 267px;
        height: 61px;
        font-size: 30px;
    }
    h2{
        width: 95px;
        height: 10px;
        font-size: 16px;
    }

    p1{
        height: 17.62px;
        font-size: 40px; 
    }
    .prices{
        margin-top: 55px;
        margin-bottom: 40px;
    }
  }

  @media (max-width: 1046px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
    .flex-item-right{
      width: 342px;
      height: 397px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0Px;
      border-bottom-left-radius: 12px;
    } 

    .flex-item-left{
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 0px;
    }
    .desc{
        font-size: 16px;
        width: 300px;
        height: 38px;
    
    } 
    h1{
        width: 267px;
        height: 61px;
        font-size: 30px;
    }
    h2{
        width: 95px;
        height: 10px;
        font-size: 16px;
    }

    p1{
        height: 17.62px;
        font-size: 40px; 
    }
    .prices{
        margin-top: 55px;
        margin-bottom: 40px;
    }
  }